<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<!------ Include the above in your HEAD tag ---------->

<app-header-profesor></app-header-profesor>
<table style="width:75%;" align="center">

  <tr>
    <th colspan="4" style="background-color:#5E1D55;color:white;" width="100%"><h3>Asignaciones</h3></th>
  </tr>

  <tr style="background-color:#32A9EE;color:white;">
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Peso</th>
    <th>Especificacion</th>
    <th>Cantidad Personas</th>
    <th></th>
  </tr>
  <tr>
    <th><input type="text" id="nombre" placeholder="Nombre"></th>
    <th><input type="date" id="birthDate" class="form-control"></th>
    <th><input type="text" id="peso" placeholder="Peso"></th>
    <input type="file" id="photo"  #image    name="file" required="required">
    <th><input type="text" id="cantidad" placeholder="Cantidad Personas"></th>
    <td><button type="button" (click)="agregar()" class="btn btn-sm btn-primary btn-create">Agregar</button></td>
  </tr>
  <tr *ngFor="let asignacion of misAsignaciones | slice: 1">
    <th>{{asignacion.nombre}}</th>
    <th>{{asignacion.fechaFin}}</th>
    <th>{{asignacion.porcentaje}}</th>
    <td><button type="button" class="mt-auto btn btn-primary" data-mdb-ripple-color="dark" style="margin: 8px; padding-top: 8px">Descargar Especificación</button></td>
    <th>{{asignacion.cantPersonas}}</th>
    <th><button type="button" class="btn btn-sm btn-primary btn-create">Evaluar</button></th>
  </tr>
</table>


